* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #892F36;
  padding: 1rem;
}

.logo {
  width: 7rem;
  margin-left: 1rem;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.nav__itens {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.nav__itens--underline {
  border-bottom: 2px solid #fff;
}

.slider {
  background-color: #892F36;
}

.slider-glider {
  display: flex;
  height: 100vh;
}

.slider__box__img {
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 480px) {
  .slider-glider {
    height: 30vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .slider-glider {
    height: 45vh;
  }
}

.promocao {
  padding-bottom: 4rem;
}

.promocao__titulo {
  font-family: "Vujahday Script", cursive;
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0rem;
}

.promocao__info {
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.bloco__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.bloco__link {
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #892F36;
  box-shadow: 1px 1px 10px 1px #000;
  color: #fff;
  border-radius: 10px;
}

.bloco__link:hover {
  box-shadow: 1px 1px 1px 1px #C7A27C;
  transition: all 0.6s;
  background-color: #C7A27C;
  color: #000;
}

.promo__bloco__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promo__bloco__masc {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card__promo__masc__img {
  height: 5.75rem;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0.6;
}

.card__promo__masc__img:hover {
  opacity: 1;
}

.container__masc__img {
  height: 25rem;
}

.info__card__modal {
  text-align: center;
  background-color: #892F36;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #000;
}

.info__card__modal .info__card__titulo {
  font-family: "Questrial", sans-serif;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.info__card__modal .info__card__preco {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.info__card__modal .info__card__preco span {
  text-decoration: line-through;
}

.info__card__modal .info__card__tam {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.info__card__modal .info__card__marca {
  font-family: "Questrial", sans-serif;
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.info__card__modal .info__card__link {
  font-family: "Questrial", sans-serif;
  color: #000;
  padding: 0.8rem;
  background-color: #C7A27C;
  font-size: 1.2rem;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #000;
}

.info__card__modal .info__card__link:hover {
  background-color: #000;
  transition: all 0.6s;
  color: #fff;
  border: 2px solid #fff;
}

@media (min-width: 0px) and (max-width: 480px) {
  .promo__bloco {
    width: 280px;
  }
  .promo__bloco__masc {
    display: flex;
    gap: 0.3rem;
  }
  .container__masc__img {
    height: 18rem;
  }
}

.moda__feminina {
  background-image: url("../images/moda-fem-section.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.moda__feminina .moda__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.moda__feminina .moda__info__titulo {
  font-family: "Questrial", sans-serif;
  font-size: 2.5rem;
}

.moda__feminina .moda__info__desc {
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
}

.catalogo__fem {
  background-color: #F6BBBF;
  box-shadow: inset 1px 1px 10px 1px #000;
  padding-bottom: 4rem;
}

.catalogo__fem .catalogo__fem__navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 5rem 0rem;
}

.catalogo__fem .catalogo__fem__btn {
  font-family: "Questrial", sans-serif;
  color: #000;
  padding: 0.8rem;
  background-color: #C7A27C;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #000;
  text-align: center;
  cursor: pointer;
}

.catalogo__fem .catalogo__fem__btn:hover {
  background-color: #000;
  transition: all 0.6s;
  color: #fff;
  border: 2px solid #fff;
}

.catalogo__fem__itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalogo__fem__itens .flex-catalogo {
  display: flex;
  align-items: center;
}

.catalogo__fem__itens .catalogo__item__img {
  height: 5.75rem;
  margin: 1rem;
  opacity: 0.7;
  cursor: pointer;
}

.catalogo__fem__itens .catalogo__item__img:hover {
  opacity: 1;
}

.catalogo__fem__itens .figure__container__img {
  width: 300px;
}

.catalogo__fem__itens .info__fem__acordion {
  text-align: center;
  background-color: #892F36;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #000;
}

.catalogo__fem__itens .info__fem__titulo {
  cursor: pointer;
  font-family: "Questrial", sans-serif;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}

.catalogo__fem__itens .info__fem__preco {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.catalogo__fem__itens .info__fem__preco span {
  text-decoration: line-through;
}

.catalogo__fem__itens .info__fem__tam {
  font-family: "Questrial", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.catalogo__fem__itens .info__fem__marca {
  font-family: "Questrial", sans-serif;
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.catalogo__fem__itens .info__fem__link {
  font-family: "Questrial", sans-serif;
  color: #000;
  padding: 0.8rem;
  background-color: #C7A27C;
  font-size: 1.2rem;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #000;
}

.catalogo__fem__itens .info__fem__link:hover {
  background-color: #000;
  transition: all 0.6s;
  color: #fff;
  border: 2px solid #fff;
}

.moda__masculina {
  background-image: url("../images/moda-masc-section.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.moda__masculina .moda__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-left: 500px;
}

.moda__masculina .moda__info__titulo {
  font-family: "Questrial", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.moda__masculina .moda__info__desc {
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
  text-align: end;
  text-align: center;
}

.marcas__container {
  padding: 1rem;
  background-color: #f08585;
}

.marcas__img {
  width: 8rem;
}

.marcas__bloco {
  display: flex;
  align-items: center;
  justify-content: center;
}
