* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #892F36;
}

.logo {
  width: 7rem;
  margin-left: 1rem;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.nav__itens {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.nav__itens--underline {
  border-bottom: 2px solid #fff;
}

.marcas__img {
  width: 8rem;
}

.marcas__bloco {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__bloco__masc {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card__promo__masc__img {
  height: 5.75rem;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0.6;
}

.card__promo__masc__img:hover {
  opacity: 1;
}

.container__masc__img {
  height: 25rem;
}
