* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #892F36;
}

.logo {
  width: 7rem;
  margin-left: 1rem;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.nav__itens {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.nav__itens--underline {
  border-bottom: 2px solid #fff;
}

.slider__box {
  display: flex;
}

.promocao__titulo {
  font-family: "Vujahday Script", cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0rem;
}

.promocao__info {
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.promo_bloco__container {
  display: flex;
  justify-content: space-around;
}

.promo__bloco__masc {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card__promo__masc__img {
  height: 5.75rem;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0.6;
}

.card__promo__masc__img:hover {
  opacity: 1;
}

.container__masc__img {
  height: 25rem;
}

.info__card__modal {
  text-align: center;
  background-color: aqua;
}

.marcas__img {
  width: 8rem;
}

.marcas__bloco {
  display: flex;
  align-items: center;
  justify-content: center;
}
