.marcas__container {
    padding: 1rem;
    // margin-top: 3rem;
    background-color: rgb(240, 133, 133);
}
.marcas__img {
    width: 8rem;
}

.marcas__bloco {
    display: flex;
    align-items: center;
    justify-content: center;
}