.moda__feminina {
    background-image: url("../images/moda-fem-section.jpg");
    // background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

        .moda__info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            text-align: center;
            height: 100vh;
        }

        .moda__info__titulo {
            font-family: $fonte-corpo;
            font-size: $size-subtitulo;
        }

        .moda__info__desc {
            font-family: $fonte-corpo;
            font-size: $size-corpo;
        }

        // .moda__info__link {
        //     font-family: $fonte-corpo;
        //     color: #000;
        //     padding: 0.8rem;
        //     background-color: $cor-section-masc;
        //     font-size: 1.2rem;
        //     width: 200px;
        //     margin: 0 auto;
        //     border-radius: 10px;
        //     border: 2px solid #000;
        // }

        // .moda__info__link:hover {
        //     background-color: #000;
        //     transition: all 0.6s;
        //     color: #fff;
        //     border: 2px solid #fff;
        // }
}

.catalogo__fem {
    background-color: $cor-section-fem;
    box-shadow: inset 1px 1px 10px 1px #000;
    padding-bottom: 4rem;

        .catalogo__fem__navegacao {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            padding: 5rem 0rem;
        }

        .catalogo__fem__btn {
            font-family: $fonte-corpo;
            color: #000;
            padding: 0.8rem;
            background-color: $cor-section-masc;
            font-size: 1.2rem;
            // width: 200px;
            // margin: 0 auto;
            border-radius: 10px;
            border: 2px solid #000;
            text-align: center;
            cursor: pointer;
                &:hover {
                    background-color: #000;
                    transition: all 0.6s;
                    color: #fff;
                    border: 2px solid #fff;
                }
        }
}

.catalogo__fem__itens {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

        .flex-catalogo {
            display: flex;
            // gap: 1rem;
            align-items: center;
        }

        .catalogo__item__img {
        height: 5.75rem;
        margin: 1rem;
        opacity: 0.7;
        cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }

        .figure__container__img {
            width: 300px;
        }

        .info__fem__acordion {
            text-align: center;
            background-color: $cor-header;
            padding: 1rem;
            border-radius: 4px;
            border: 2px solid #000;
        }

        .info__fem__titulo {
            cursor: pointer;
            font-family: $fonte-corpo;
            color: #fff;
            padding: 1rem;
            font-size: 1.2rem;
        }

        .info__fem__preco {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            
            span {
                text-decoration: line-through;
            } 
        }

        .info__fem__tam {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .info__fem__marca {
            font-family: $fonte-corpo;
            color: #fff;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;  
        }

        .info__fem__link {
            font-family: $fonte-corpo;
            color: #000;
            padding: 0.8rem;
            background-color: $cor-section-masc;
            font-size: 1.2rem;
            width: 100px;
            margin: 0 auto;
            border-radius: 10px;
            border: 2px solid #000;
                &:hover {
                    background-color: #000;
                    transition: all 0.6s;
                    color: #fff;
                    border: 2px solid #fff;
                }
        }
}


.moda__masculina {
    background-image: url("../images/moda-masc-section.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;


        .moda__info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            text-align: center;
            height: 100vh;
            padding-left: 500px;
        }

        .moda__info__titulo {
            font-family: $fonte-corpo;
            font-size: $size-subtitulo;
            text-align: center;
        }

        .moda__info__desc {
            font-family: $fonte-corpo;
            font-size: $size-corpo;
            text-align: end;
            text-align: center;
        }

        // .moda__info__link {
        //     font-family: $fonte-corpo;
        //     color: #000;
        //     padding: 0.8rem;
        //     background-color: $cor-section-masc;
        //     font-size: 1.2rem;
        //     width: 200px;
        //     margin: 0 auto;
        //     border-radius: 10px;
        //     border: 2px solid #000;
        //     text-align: center;
        // }

        // .moda__info__link:hover {
        //     background-color: #000;
        //     transition: all 0.6s;
        //     color: #fff;
        //     border: 2px solid #fff;
        // }
}


