.promocao {
    padding-bottom: 4rem;
}

.promocao__titulo {
    font-family: $fonte-subtitulos;
    font-size: $size-titulo;
    text-align: center;
    margin: 1rem 0rem; 
    // cursor: pointer;
}

.promocao__info {
    font-family: $fonte-corpo;
    font-size: $size-corpo;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 2rem;

}

.bloco__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.bloco__link {
    font-family: $fonte-corpo;
    font-size: $size-corpo;
    padding: 1rem;
    background-color: $cor-header;
    box-shadow: 1px 1px 10px 1px #000;
    color: #fff;
    border-radius: 10px;
    
}

.bloco__link:hover {
    box-shadow: 1px 1px 1px 1px $cor-section-masc;
    transition: all 0.6s;
    background-color: $cor-section-masc;
    color: #000;
}


.promo__bloco__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}




.promo__bloco__masc {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card__promo__masc__img {
    height: 5.75rem;
    cursor: pointer;
    margin: 10px 0px;
    opacity: 0.6;
}

.card__promo__masc__img:hover {
    opacity: 1;
}

// .container__masc {
//     // width: 100%;
//     height: 25rem;
// }

.container__masc__img {
    height: 25rem;
}

.info__card__modal {
    text-align: center;
    background-color: $cor-header;
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid #000;
    
    
        .info__card__titulo {
            font-family: $fonte-corpo;
            color: #fff;
            padding: 1rem;
            font-size: 1.2rem;
            cursor: pointer;
        }

        .info__card__preco {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            
            span {
                text-decoration: line-through;
            }            
        }


        .info__card__tam {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .info__card__marca {
            font-family: $fonte-corpo;
            color: #fff;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
        }

        .info__card__link {
            font-family: $fonte-corpo;
            color: #000;
            padding: 0.8rem;
            background-color: $cor-section-masc;
            font-size: 1.2rem;
            width: 100px;
            margin: 0 auto;
            border-radius: 10px;
            border: 2px solid #000;
        }

        .info__card__link:hover {
            background-color: #000;
            transition: all 0.6s;
            color: #fff;
            border: 2px solid #fff;
        }
}

@media(min-width: 0px) and (max-width:480px) {
    .promo__bloco {
        width: 280px;
    }

    .promo__bloco__masc {
        display: flex;
        gap: 0.3rem;
    }

    .container__masc__img {
        height: 18rem;
    }
}

