.promocao__titulo {
    font-family: $fonte-subtitulos;
    font-size: $size-subtitulo;
    text-align: center;
    margin: 1rem 0rem; 
}

.promocao__info {
    font-family: $fonte-corpo;
    font-size: $size-corpo;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

}


.promo_bloco__container {
    display: flex;
    justify-content: space-around;
}

.promo__bloco__masc {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card__promo__masc__img {
    height: 5.75rem;
    cursor: pointer;
    margin: 10px 0px;
    opacity: 0.6;
}

.card__promo__masc__img:hover {
    opacity: 1;
}

// .container__masc {
//     // width: 100%;
//     height: 25rem;
// }

.container__masc__img {
    height: 25rem;
}

.info__card__modal {
    text-align: center;
    background-color: aqua;
}