.slider {
    background-color: $cor-header
}

.slider-glider {
    display: flex;
    height: 100vh;
}

// .slider__box__figure {
    
    
// }

.slider__box__img {
    margin: 0 auto;
}

@media(min-width: 0px) and (max-width:480px) {
    .slider-glider {
        height: 30vh;
    }
}

@media(min-width: 480px) and (max-width: 768px) {
    .slider-glider {
        height: 45vh;
    }
}

