
$cor-header: #892F36;
$cor-section-fem:#EE9480;
$cor-section-masc:#C7A27C;
$fonte-titulos: 'Yanone Kaffeesatz', sans-serif;
$fonte-subtitulos: 'Vujahday Script', cursive;
$fonte-corpo: 'Questrial', sans-serif;
$size-titulo: 4rem;
$size-subtitulo: 2.5rem;
$size-corpo: 1.1rem;


@import "reset";
@import "header";
@import "slider-cabecalho";
@import "promo";
@import "marcas";
@import "moda-fem-masc";





